[tideways]
extension="tideways.so"

#
# Configure Tideways Globally via php.ini
# https://support.tideways.com/documentation/setup/configuration/configure-tideways-globally-via-php-ini.html
#
{% if tideways_api_key %}
tideways.api_key={{ tideways_api_key }}
{% endif %}
{% if tideways_sample_rate %}
tideways.sample_rate={{ tideways_sample_rate }}
{% endif %}
{% if tideways_enable_cli %}
tideways.enable_cli=1
{% endif %}

#
# Services
# https://support.tideways.com/documentation/setup/configuration/services.html
#
{% if tideways_service %}
tideways.service={{ tideways_service }}
{% endif %}

#
# Configuration for Dynamic Tracepoints
# https://support.tideways.com/documentation/setup/configuration/tracepoints.html
#
{% if tideways_dynamic_tracepoints_enable %}
tideways.dynamic_tracepoints.enable_web=1
tideways.dynamic_tracepoints.enable_cli=1
tideways.features.phpinfo=1
{% endif %}

#
# Deprecation Tracking
# https://support.tideways.com/documentation/setup/configuration/tracepoints.html
#
{% if tideways_features_deprecations %}
tideways.features.deprecations=1
{% endif %}
